body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.App-list > li {
  margin-bottom: 20px;
}

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.App-page-title {
  padding: 30px;
}

.App-input {
  border: none;
  border-radius: 5px;
  font-size: calc(10px + 2vmin);
  padding: 5px;
}

.App-button {
  font-size: calc(10px + 2vmin);
  padding: 5px 10px;
  background-color: #61dafb;
  border-radius: 5px;
  border: none;
}

.App-button:hover {
  cursor: pointer;
}

.App-code-block {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  text-align: left;
  margin: 10px 0;
  font-size: calc(10px + 1.5vmin);
}

.App-section {
  border-left: 1px solid white;
  padding: 0 20px;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-section:first-child {
  border: none;
}

.App-me {
  height: 70vh;
  margin-bottom: 10px;
}
